In [2]:
import pandas as pd
import datetime

In [3]:
today = datetime.date(2020,9,14)

In [4]:
today

datetime.date(2020, 9, 14)

In [5]:
type(today)

datetime.date

In [6]:
today.year

2020

In [7]:
today.month

9

In [8]:
datetime.date(today.year, today.month, 1)

datetime.date(2020, 9, 1)

In [9]:
month_start = datetime.date(today.year , today.month , 1)

In [10]:
datetime.date(today.year,today.month+1,1)

datetime.date(2020, 10, 1)

In [11]:
from datetime import timedelta

In [12]:
datetime.date(today.year, today.month+1,1) - timedelta(days=1)

datetime.date(2020, 9, 30)

In [13]:
month_end = datetime.date(today.year, today.month+1,1) - timedelta(days=1)
month_end

datetime.date(2020, 9, 30)

In [14]:
import_file = "/Users/kato/Desktop/mypython/sample_auto03.xlsx"

In [15]:
excel_sheetname01 = "201909"
excel_sheetname02 = "202009"

In [16]:
df_201909 = pd.read_excel(import_file, sheet_name = excel_sheetname01,index_col="date")
df_201909.head(3)

               sales   cost
date
2019-08-30  370193.0  10000
2019-08-31  604558.0  11000
2019-09-01  451000.0   3500

In [17]:
import pandas.tseries.offsets as offsets

In [18]:
df_201909.index + offsets.Day(364)

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08',
               '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-12',
               '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16',
               '2020-09-17', '2020-09-18', '2020-09-19', '2020-09-20',
               '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24',
               '2020-09-25', '2020-09-26', '2020-09-27', '2020-09-28'],
              dtype='datetime64[ns]', name='date', freq=None)

In [19]:
df_201909["next_year"] = df_201909.index + offsets.Day(364)

In [20]:
df_201909.head(3)

               sales   cost  next_year
date
2019-08-30  370193.0  10000 2020-08-28
2019-08-31  604558.0  11000 2020-08-29
2019-09-01  451000.0   3500 2020-08-30

In [22]:
df_201909 = df_201909.drop(["cost"],axis=1)

In [23]:
df_201909.head(3)

               sales  next_year
date
2019-08-30  370193.0 2020-08-28
2019-08-31  604558.0 2020-08-29
2019-09-01  451000.0 2020-08-30

In [24]:
df_202009 = pd.read_excel(import_file, sheet_name = excel_sheetname02,index_col="date")
df_202009.head(3)

               sales    cost
date
2020-08-25  254364.0  1000.0
2020-08-26  286343.0  1000.0
2020-08-27  265857.0  1000.0

In [25]:
df_this_year = pd.merge(df_201909,df_202009,left_on="next_year",right_index=True,how="right")
df_this_year.head(3)

     sales_x  next_year   sales_y    cost
NaT      NaN 2020-08-25  254364.0  1000.0
NaT      NaN 2020-08-26  286343.0  1000.0
NaT      NaN 2020-08-27  265857.0  1000.0

In [66]:
df_this_year = df_this_year.rename(columns={"sales_x":"this_year_sales","sales_y":"last_year_sales","next_year":"date"})

In [26]:
df_this_year.head(3)

     sales_x  next_year   sales_y    cost
NaT      NaN 2020-08-25  254364.0  1000.0
NaT      NaN 2020-08-26  286343.0  1000.0
NaT      NaN 2020-08-27  265857.0  1000.0

In [27]:
df_this_year = df_this_year.set_index("date")
df_this_year.head(3)

KeyError: "None of ['date'] are in the columns"

In [28]:
df_this_year = df_this_year.sort_index()
df_this_year.head(3)

             sales_x  next_year   sales_y    cost
2019-08-30  370193.0 2020-08-28  302279.0  1000.0
2019-08-31  604558.0 2020-08-29  558500.0  1000.0
2019-09-01  451000.0 2020-08-30  588152.0  1000.0

In [29]:
df_this_year["last_year_per"] = df_this_year["this_year_sales"] / df_this_year["last_year_sales"]
df_this_year.head(3)

KeyError: 'this_year_sales'

In [72]:
df_this_year["this_year_sales"]

date
2020-08-25         NaN
2020-08-26         NaN
2020-08-27         NaN
2020-08-28    370193.0
2020-08-29    604558.0
2020-08-30    451000.0
2020-08-31    313000.0
2020-09-01    298000.0
2020-09-02    310000.0
2020-09-03    290000.0
2020-09-04    369000.0
2020-09-05    602000.0
2020-09-06    655000.0
2020-09-07    287000.0
2020-09-08    268000.0
2020-09-09    243000.0
2020-09-10    251000.0
2020-09-11    276000.0
2020-09-12    420700.0
2020-09-13    478800.0
2020-09-14    392000.0
2020-09-15    260000.0
2020-09-16    245000.0
2020-09-17    239000.0
2020-09-18    399600.0
2020-09-19    652800.0
2020-09-20    744000.0
2020-09-21    390000.0
2020-09-22    249000.0
2020-09-23    212000.0
2020-09-24    246000.0
2020-09-25    267000.0
2020-09-26    466000.0
2020-09-27    491000.0
2020-09-28    239000.0
2020-09-29         NaN
2020-09-30         NaN
Name: this_year_sales, dtype: float64

In [73]:
df_this_year["this_year_sales"].shift(7)

date
2020-08-25         NaN
2020-08-26         NaN
2020-08-27         NaN
2020-08-28         NaN
2020-08-29         NaN
2020-08-30         NaN
2020-08-31         NaN
2020-09-01         NaN
2020-09-02         NaN
2020-09-03         NaN
2020-09-04    370193.0
2020-09-05    604558.0
2020-09-06    451000.0
2020-09-07    313000.0
2020-09-08    298000.0
2020-09-09    310000.0
2020-09-10    290000.0
2020-09-11    369000.0
2020-09-12    602000.0
2020-09-13    655000.0
2020-09-14    287000.0
2020-09-15    268000.0
2020-09-16    243000.0
2020-09-17    251000.0
2020-09-18    276000.0
2020-09-19    420700.0
2020-09-20    478800.0
2020-09-21    392000.0
2020-09-22    260000.0
2020-09-23    245000.0
2020-09-24    239000.0
2020-09-25    399600.0
2020-09-26    652800.0
2020-09-27    744000.0
2020-09-28    390000.0
2020-09-29    249000.0
2020-09-30    212000.0
Name: this_year_sales, dtype: float64

In [1]:
df_this_year["last_week_sales"] = df_this_year["this_year_sales"].shift(7)
df_this_year.head(3)

NameError: name 'df_this_year' is not defined