In [1]:
#どんな顧客が定着するのかを知りたい
#uselogは会員が利用すると自動的に利用日が登録されるデータ（201804〜201903まで）
#customer_masterは会員リスト
#class_masterは会員区分のマスタ
#campaign_masterは入会キャンペーンのマスタ

In [2]:
import pandas as pd

In [3]:
uselog = pd.read_csv("/Users/kato/Desktop/nock/100knock-data_analytics/3章/use_log.csv")

In [4]:
customer_master = pd.read_csv("/Users/kato/Desktop/nock/100knock-data_analytics/3章/customer_master.csv")

In [5]:
class_master = pd.read_csv("/Users/kato/Desktop/nock/100knock-data_analytics/3章/class_master.csv")

In [6]:
campaign_master = pd.read_csv("/Users/kato/Desktop/nock/100knock-data_analytics/3章/campaign_master.csv")

In [7]:
uselog.head()

            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01
2  L00000049012332    AS040841  2018-04-01
3  L00000049012333    AS046594  2018-04-01
4  L00000049012334    AS073285  2018-04-01

In [18]:
use = uselog.rename(columns={"log_id":"利用ID" , "customer_id":"顧客ID" , "usedate":"利用日"})

In [19]:
use.head()

              利用ID      顧客ID         利用日
0  L00000049012330  AS009373  2018-04-01
1  L00000049012331  AS015315  2018-04-01
2  L00000049012332  AS040841  2018-04-01
3  L00000049012333  AS046594  2018-04-01
4  L00000049012334  AS073285  2018-04-01

In [20]:
cs = customer_master.rename(columns={"customer_id":"顧客ID", "name":"氏名", "class":"会員区分", "gender":"性別", "start_date":"入会日" , "end_date":"退会日", "campaign_id":"入会区分"})

In [21]:
cs.head()

       顧客ID     氏名 会員区分 性別                  入会日  退会日 入会区分  is_deleted
0  OA832399   XXXX  C01  F  2015-05-01 00:00:00  NaN  CA1           0
1  PL270116  XXXXX  C01  M  2015-05-01 00:00:00  NaN  CA1           0
2  OA974876  XXXXX  C01  M  2015-05-01 00:00:00  NaN  CA1           0
3  HD024127  XXXXX  C01  F  2015-05-01 00:00:00  NaN  CA1           0
4  HD661448  XXXXX  C03  F  2015-05-01 00:00:00  NaN  CA1           0

In [22]:
class_master.head()

  class class_name  price
0   C01     オールタイム  10500
1   C02      デイタイム   7500
2   C03        ナイト   6000

In [42]:
cm = class_master.rename(columns={"class":"会員区分", "class_name":"区分名", "price":"区分価格"})

In [43]:
cm.head()

  会員区分     区分名   区分価格
0  C01  オールタイム  10500
1  C02   デイタイム   7500
2  C03     ナイト   6000

In [44]:
campaign_master.head()

  campaign_id campaign_name
0         CA1            通常
1         CA2         入会費半額
2         CA3         入会費無料

In [45]:
cp = campaign_master.rename(columns={"campaign_id":"入会区分", "campaign_name":"入会名"})

In [46]:
cp.head()

  入会区分    入会名
0  CA1     通常
1  CA2  入会費半額
2  CA3  入会費無料

In [47]:
print(len(use))
print(len(cs))
print(len(cm))
print(len(cp))

197428
4192
3
3

In [48]:
use2 = pd.merge(cs, cm, on="会員区分", how="left")
use2.head()

,顧客ID,氏名,会員区分,性別,入会日,退会日,入会区分,is_deleted,区分名,区分価格
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500
2,OA974876,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500
3,HD024127,XXXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500
4,HD661448,XXXXX,C03,F,2015-05-01 00:00:00,NaN,CA1,0,ナイト,6000

In [49]:
use3 = pd.merge(use2, cp, on="入会区分" , how="left")
use3

,顧客ID,氏名,会員区分,性別,入会日,退会日,入会区分,is_deleted,区分名,区分価格,入会名
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500,通常
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500,通常
2,OA974876,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500,通常
3,HD024127,XXXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500,通常
4,HD661448,XXXXX,C03,F,2015-05-01 00:00:00,NaN,CA1,0,ナイト,6000,通常
...,...,...,...,...,...,...,...,...,...,...,...
4187,HD676663,XXXX,C01,M,2019-03-14 00:00:00,NaN,CA1,0,オールタイム,10500,通常
4188,HD246549,XXXXX,C01,F,2019-03-14 00:00:00,NaN,CA1,0,オールタイム,10500,通常
4189,GD037007,XXXXX,C03,M,2019-03-14 00:00:00,NaN,CA1,0,ナイト,6000,通常
4190,OA953150,XXXXX,C01,M,2019-03-14 00:00:00,NaN,CA1,0,オールタイム,10500,通常
4191,IK692635,XXXXX,C02,F,2019-03-15 00:00:00,NaN,CA1,0,デイタイム,7500,通常

In [50]:
print(len(use3))

4192

In [51]:
use3.groupby("区分名").count()["顧客ID"]

区分名
オールタイム    2045
デイタイム     1019
ナイト       1128
Name: 顧客ID, dtype: int64

In [52]:
use3.groupby("入会名").count()["顧客ID"]

入会名
入会費半額     650
入会費無料     492
通常       3050
Name: 顧客ID, dtype: int64

In [53]:
use3.groupby("性別").count()["顧客ID"]

性別
F    1983
M    2209
Name: 顧客ID, dtype: int64

In [54]:
use3.groupby("is_deleted").count()["顧客ID"]

is_deleted
0    2842
1    1350
Name: 顧客ID, dtype: int64

In [55]:
use3["入会日"] = pd.to_datetime(use3["入会日"])

In [56]:
use4 = use3.loc[use3["入会日"]]>pd.to_datetime("20180401")

KeyError: "None of [DatetimeIndex(['2015-05-01', '2015-05-01', '2015-05-01', '2015-05-01',\n               '2015-05-01', '2015-05-01', '2015-05-01', '2015-05-01',\n               '2015-05-01', '2015-05-01',\n               ...\n               '2019-03-12', '2019-03-13', '2019-03-13', '2019-03-13',\n               '2019-03-13', '2019-03-14', '2019-03-14', '2019-03-14',\n               '2019-03-14', '2019-03-15'],\n              dtype='datetime64[ns]', length=4192, freq=None)] are in the [index]"