In [5]:
import pandas as pd

In [7]:
# CSVファイルを読み込む
df = pd.read_csv('/Users/kato/Documents/ttt.csv')
df

        項目  売上  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0     現金売上  55         NaN         NaN         NaN         NaN         NaN
1    商品券売上  65         NaN         NaN         NaN         NaN         NaN
2  電子マネー売上  64         NaN         NaN         NaN         NaN         NaN

In [12]:
# CSVファイルを読み込む
df = pd.read_csv('/Users/kato/Documents/ttt.csv' , index_col=0)

# 列の存在チェック
if 'paypay売上' not in df.index:
    # 'paypay売上' 列が存在しない場合、0で埋める
    df.loc['paypay売上'] = 0

In [13]:
df

          売上  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
項目
現金売上      55         NaN         NaN         NaN         NaN         NaN
商品券売上     65         NaN         NaN         NaN         NaN         NaN
電子マネー売上   64         NaN         NaN         NaN         NaN         NaN
paypay売上   0         0.0         0.0         0.0         0.0         0.0