In [1]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
import statsmodels.formula.api as smf

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_sales = pd.read_csv("/Users/kato/Downloads/sales_sample.csv")

In [3]:
df_sales

      気温   単価    雨    売上
0    5.8  200    ○   401
1    5.7  180    ○   345
2   10.3  180    ○   480
3   14.5  200  NaN   590
4   21.1  220  NaN   928
5   22.1  200  NaN   894
6   26.2  220  NaN  1257
7   26.7  220  NaN  1384
8   22.6  200  NaN   768
9   18.4  240  NaN   603
10  13.9  200  NaN   478
11   9.3  240  NaN   580
12   6.1  200    ○   464
13   7.2  200    ○   397
14  10.1  220    ○   493
15  15.4  220  NaN   617
16  20.2  200  NaN   890
17  22.4  200  NaN   883
18  25.4  200  NaN  1292
19  27.1  180  NaN  1387
20  24.4  220  NaN   843
21  18.7  220  NaN   621
22  11.4  200  NaN   459
23   8.9  180    ○   562
24   5.8  240    ○   489
25   6.9  200    ○   382
26   8.5  220  NaN   472
27  14.7  220  NaN   624
28  20.0  200  NaN   915
29  22.0  200  NaN   914
30  27.3  240  NaN  1394
31  26.4  200  NaN  1370
32  22.8  180  NaN   826
33  16.8  180  NaN   599
34  11.9  220    ○   489
35   6.6  200    ○   573

In [4]:
df_sales["雨_ダミー"] = pd.get_dummies(df_sales["雨"] , dtype=int)

In [4]:
df_sales["雨_ダミー"] = pd.get_dummies(df_sales["雨"] , dtype=int)

In [5]:
df_sales.dtypes

気温       float64
単価         int64
雨         object
売上         int64
雨_ダミー      int64
dtype: object

In [6]:
df_sales

      気温   単価    雨    売上  雨_ダミー
0    5.8  200    ○   401      1
1    5.7  180    ○   345      1
2   10.3  180    ○   480      1
3   14.5  200  NaN   590      0
4   21.1  220  NaN   928      0
5   22.1  200  NaN   894      0
6   26.2  220  NaN  1257      0
7   26.7  220  NaN  1384      0
8   22.6  200  NaN   768      0
9   18.4  240  NaN   603      0
10  13.9  200  NaN   478      0
11   9.3  240  NaN   580      0
12   6.1  200    ○   464      1
13   7.2  200    ○   397      1
14  10.1  220    ○   493      1
15  15.4  220  NaN   617      0
16  20.2  200  NaN   890      0
17  22.4  200  NaN   883      0
18  25.4  200  NaN  1292      0
19  27.1  180  NaN  1387      0
20  24.4  220  NaN   843      0
21  18.7  220  NaN   621      0
22  11.4  200  NaN   459      0
23   8.9  180    ○   562      1
24   5.8  240    ○   489      1
25   6.9  200    ○   382      1
26   8.5  220  NaN   472      0
27  14.7  220  NaN   624      0
28  20.0  200  NaN   915      0
29  22.0  200  NaN   914      0
30  27.3  240  NaN  1394      0
31  26.4  200  NaN  1370      0
32  22.8  180  NaN   826      0
33  16.8  180  NaN   599      0
34  11.9  220    ○   489      1
35   6.6  200    ○   573      1

In [8]:
x = df_sales[["気温","単価","雨_ダミー"]]
y = df_sales[["売上"]]

model = sm.OLS(y,sm.add_constant(x))
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     売上   R-squared:                       0.840
Model:                            OLS   Adj. R-squared:                  0.825
Method:                 Least Squares   F-statistic:                     55.83
Date:                Mon, 24 Apr 2023   Prob (F-statistic):           8.19e-13
Time:                        23:46:38   Log-Likelihood:                -225.71
No. Observations:                  36   AIC:                             459.4
Df Residuals:                      32   BIC:                             465.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -340.9653    303.596     -1.123      0.270    -959.371     277.440
気温            48.2076      4.818     10.005      0.000      38.393      58.022
単価             1.1667      1.314      0.888      0.381      -1.511       3.844
雨_ダミー        193.0358     77.940      2.477      0.019      34.277     351.794
==============================================================================
Omnibus:                        1.521   Durbin-Watson:                   1.822
Prob(Omnibus):                  0.467   Jarque-Bera (JB):                1.072
Skew:                          -0.112   Prob(JB):                        0.585
Kurtosis:                       2.185   Cond. No.                     2.82e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.82e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [11]:
model2 = smf.ols(data=df_sales,
                formula = "売上 ~ 気温 + 単価 + 雨_ダミー")
result2 = model2.fit()
result2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     売上   R-squared:                       0.840
Model:                            OLS   Adj. R-squared:                  0.825
Method:                 Least Squares   F-statistic:                     55.83
Date:                Mon, 24 Apr 2023   Prob (F-statistic):           8.19e-13
Time:                        23:46:54   Log-Likelihood:                -225.71
No. Observations:                  36   AIC:                             459.4
Df Residuals:                      32   BIC:                             465.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -340.9653    303.596     -1.123      0.270    -959.371     277.440
気温            48.2076      4.818     10.005      0.000      38.393      58.022
単価             1.1667      1.314      0.888      0.381      -1.511       3.844
雨_ダミー        193.0358     77.940      2.477      0.019      34.277     351.794
==============================================================================
Omnibus:                        1.521   Durbin-Watson:                   1.822
Prob(Omnibus):                  0.467   Jarque-Bera (JB):                1.072
Skew:                          -0.112   Prob(JB):                        0.585
Kurtosis:                       2.185   Cond. No.                     2.82e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.82e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [12]:
df_sales_pred = pd.read_csv("/Users/kato/Downloads/sales_sample_pred.csv")
df_sales_pred

     気温   単価  雨_ダミー
0  12.6  180      1
1  18.7  200      0
2  10.2  180      0
3  15.1  240      1
4  20.5  200      0

In [13]:
result2.predict(df_sales_pred)

0    669.495935
1    793.861073
2    360.761763
3    860.018069
4    880.634831
dtype: float64