In [37]:
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [38]:
df = pd.read_csv("/Users/kato/Documents/data (1).csv" , index_col="年月日" , parse_dates=True)

In [39]:
df

           曜日  平均気温(℃)  日照時間(時間)  平均風速(m/s)
年月日
2013-04-25  木     12.4      11.9        7.2
2013-04-26  金      9.5       1.3        2.4
2013-04-27  土      7.8       0.0        5.1
2013-04-28  日      8.3       4.1        6.6
2013-04-29  月      9.8       6.8        3.4
...        ..      ...       ...        ...
2023-04-21  金     12.0       9.5        7.1
2023-04-22  土      8.6       4.1        6.8
2023-04-23  日      9.2       9.5        6.9
2023-04-24  月      8.6       4.7        6.1
2023-04-25  火     10.7       9.8        3.9

[3653 rows x 4 columns]

In [40]:
df = df.drop(columns="曜日")
df

            平均気温(℃)  日照時間(時間)  平均風速(m/s)
年月日
2013-04-25     12.4      11.9        7.2
2013-04-26      9.5       1.3        2.4
2013-04-27      7.8       0.0        5.1
2013-04-28      8.3       4.1        6.6
2013-04-29      9.8       6.8        3.4
...             ...       ...        ...
2023-04-21     12.0       9.5        7.1
2023-04-22      8.6       4.1        6.8
2023-04-23      9.2       9.5        6.9
2023-04-24      8.6       4.7        6.1
2023-04-25     10.7       9.8        3.9

[3653 rows x 3 columns]

In [41]:
df_month = df["2014":"2018"].resample("M").mean()
df_month

              平均気温(℃)  日照時間(時間)  平均風速(m/s)
年月日
2014-01-31  -1.648387  1.306452   4.416129
2014-02-28  -1.307143  2.746429   4.064286
2014-03-31   2.458065  4.490323   4.454839
2014-04-30   8.823333  8.650000   4.033333
2014-05-31  14.638710  6.670968   3.667742
2014-06-30  18.083333  5.620000   3.023333
2014-07-31  23.158065  6.593548   3.051613
2014-08-31  23.629032  4.261290   3.264516
2014-09-30  19.203333  6.956667   2.896667
2014-10-31  12.774194  5.503226   3.364516
2014-11-30   8.063333  3.406667   3.836667
2014-12-31  -0.025806  0.822581   4.125806
2015-01-31  -0.203226  1.387097   3.996774
2015-02-28   1.192857  3.442857   4.071429
2015-03-31   4.629032  4.548387   4.354839
2015-04-30   9.883333  6.326667   3.786667
2015-05-31  15.106452  8.225806   3.819355
2015-06-30  18.110000  6.933333   3.570000
2015-07-31  22.780645  5.783871   2.890323
2015-08-31  23.606452  5.954839   3.635484
2015-09-30  19.426667  5.113333   3.793333
2015-10-31  12.180645  4.761290   4.129032
2015-11-30   8.433333  2.950000   3.313333
2015-12-31   3.100000  1.648387   4.203226
2016-01-31  -0.767742  1.509677   4.454839
2016-02-29  -0.062069  2.524138   4.248276
2016-03-31   3.996774  4.912903   3.822581
2016-04-30   9.230000  5.410000   4.306667
2016-05-31  15.377419  8.170968   3.729032
2016-06-30  17.433333  4.790000   3.280000
2016-07-31  21.454839  5.635484   3.212903
2016-08-31  24.470968  7.051613   3.377419
2016-09-30  20.680000  4.996667   2.826667
2016-10-31  12.654839  4.093548   3.906452
2016-11-30   4.950000  1.816667   3.703333
2016-12-31   2.025806  2.135484   4.090323
2017-01-31  -0.358065  1.961290   4.090323
2017-02-28   0.182143  2.142857   4.103571
2017-03-31   2.587097  3.829032   3.616129
2017-04-30   9.706667  6.583333   4.503333
2017-05-31  15.074194  7.512903   3.645161
2017-06-30  16.910000  6.460000   3.286667
2017-07-31  23.964516  6.787097   2.896774
2017-08-31  22.035484  5.041935   3.761290
2017-09-30  19.083333  6.246667   3.320000
2017-10-31  12.716129  3.874194   3.306452
2017-11-30   6.550000  2.450000   4.100000
2017-12-31   0.196774  1.554839   4.312903
2018-01-31  -0.912903  2.148387   4.719355
2018-02-28  -1.932143  3.046429   4.264286
2018-03-31   4.593548  4.867742   4.651613
2018-04-30   9.643333  5.703333   4.373333
2018-05-31  14.248387  6.480645   3.854839
2018-06-30  17.843333  5.736667   3.436667
2018-07-31  22.593548  4.838710   2.858065
2018-08-31  22.793548  5.083871   3.358065
2018-09-30  20.020000  5.573333   3.126667
2018-10-31  14.238710  4.983871   3.267742
2018-11-30   8.260000  3.740000   3.373333
2018-12-31   1.245161  1.729032   4.141935

In [42]:
df_month_pred = df.loc["2019"].resample("M").mean()
df_month_pred

              平均気温(℃)  日照時間(時間)  平均風速(m/s)
年月日
2019-01-31  -0.645161  1.180645   4.319355
2019-02-28   0.025000  2.975000   4.164286
2019-03-31   3.790323  4.532258   4.229032
2019-04-30   8.526667  6.763333   3.830000
2019-05-31  15.758065  9.119355   3.687097
2019-06-30  18.066667  7.043333   3.496667
2019-07-31  22.054839  6.561290   3.419355
2019-08-31  24.845161  7.216129   3.290323
2019-09-30  21.243333  6.573333   3.090000
2019-10-31  15.087097  4.803226   3.416129
2019-11-30   6.296667  2.930000   4.276667
2019-12-31   2.038710  1.903226   4.112903

In [43]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [45]:
y = df_month["平均気温(℃)"]
x = df_month[["日照時間(時間)" , "平均風速(m/s)"]]
sarima_model = sm.tsa.SARIMAX(y, x, order=(1,1,1) , seasonal_order=(1,1,1,12))
result = sarima_model.fit()

result.summary()

/Users/kato/.pyenv/versions/3.11.1/lib/python3.11/site-packages/statsmodels/tsa/statespace/sarimax.py:1009: UserWarning: Non-invertible starting seasonal moving average Using zeros as starting parameters.
  warn('Non-invertible starting seasonal moving average'
 This problem is unconstrained.

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =            7     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  1.25591D+00    |proj g|=  1.43673D-01

At iterate    5    f=  1.18542D+00    |proj g|=  3.00047D-02

At iterate   10    f=  1.17557D+00    |proj g|=  2.01346D-02

At iterate   15    f=  1.17388D+00    |proj g|=  1.32546D-03

At iterate   20    f=  1.17378D+00    |proj g|=  5.61945D-03

At iterate   25    f=  1.17361D+00    |proj g|=  1.47275D-03

At iterate   30    f=  1.17358D+00    |proj g|=  5.62131D-04

At iterate   35    f=  1.17357D+00    |proj g|=  5.26641D-04

At iterate   40    f=  1.17357D+00    |proj g|=  9.02937D-05

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
    7     41     51      1     0     0   5.672D-05   1.174D+00
  F =   1.1735738370361872

CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH

<class 'statsmodels.iolib.summary.Summary'>
"""
                                     SARIMAX Results
==========================================================================================
Dep. Variable:                            平均気温(℃)   No. Observations:                   60
Model:             SARIMAX(1, 1, 1)x(1, 1, 1, 12)   Log Likelihood                 -70.414
Date:                            Wed, 26 Apr 2023   AIC                            154.829
Time:                                    01:24:29   BIC                            167.780
Sample:                                01-31-2014   HQIC                           159.702
                                     - 12-31-2018
Covariance Type:                              opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
日照時間(時間)       0.3661      0.212      1.723      0.085      -0.050       0.782
平均風速(m/s)     -0.9298      0.474     -1.961      0.050      -1.859      -0.000
ar.L1         -0.1127      0.243     -0.464      0.642      -0.588       0.363
ma.L1         -0.8116      0.180     -4.505      0.000      -1.165      -0.458
ar.S.L12       0.0272      0.546      0.050      0.960      -1.044       1.098
ma.S.L12      -0.9959     70.194     -0.014      0.989    -138.573     136.581
sigma2         0.7694     53.692      0.014      0.989    -104.465     106.004
===================================================================================
Ljung-Box (L1) (Q):                   0.35   Jarque-Bera (JB):                 0.05
Prob(Q):                              0.55   Prob(JB):                         0.97
Heteroskedasticity (H):               0.90   Skew:                            -0.08
Prob(H) (two-sided):                  0.84   Kurtosis:                         2.98
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [35]:
df_month

              平均気温(℃)  日照時間(時間)  平均風速(m/s)
年月日
2014-01-31  -1.648387  1.306452   4.416129
2014-02-28  -1.307143  2.746429   4.064286
2014-03-31   2.458065  4.490323   4.454839
2014-04-30   8.823333  8.650000   4.033333
2014-05-31  14.638710  6.670968   3.667742
2014-06-30  18.083333  5.620000   3.023333
2014-07-31  23.158065  6.593548   3.051613
2014-08-31  23.629032  4.261290   3.264516
2014-09-30  19.203333  6.956667   2.896667
2014-10-31  12.774194  5.503226   3.364516
2014-11-30   8.063333  3.406667   3.836667
2014-12-31  -0.025806  0.822581   4.125806
2015-01-31  -0.203226  1.387097   3.996774
2015-02-28   1.192857  3.442857   4.071429
2015-03-31   4.629032  4.548387   4.354839
2015-04-30   9.883333  6.326667   3.786667
2015-05-31  15.106452  8.225806   3.819355
2015-06-30  18.110000  6.933333   3.570000
2015-07-31  22.780645  5.783871   2.890323
2015-08-31  23.606452  5.954839   3.635484
2015-09-30  19.426667  5.113333   3.793333
2015-10-31  12.180645  4.761290   4.129032
2015-11-30   8.433333  2.950000   3.313333
2015-12-31   3.100000  1.648387   4.203226
2016-01-31  -0.767742  1.509677   4.454839
2016-02-29  -0.062069  2.524138   4.248276
2016-03-31   3.996774  4.912903   3.822581
2016-04-30   9.230000  5.410000   4.306667
2016-05-31  15.377419  8.170968   3.729032
2016-06-30  17.433333  4.790000   3.280000
2016-07-31  21.454839  5.635484   3.212903
2016-08-31  24.470968  7.051613   3.377419
2016-09-30  20.680000  4.996667   2.826667
2016-10-31  12.654839  4.093548   3.906452
2016-11-30   4.950000  1.816667   3.703333
2016-12-31   2.025806  2.135484   4.090323
2017-01-31  -0.358065  1.961290   4.090323
2017-02-28   0.182143  2.142857   4.103571
2017-03-31   2.587097  3.829032   3.616129
2017-04-30   9.706667  6.583333   4.503333
2017-05-31  15.074194  7.512903   3.645161
2017-06-30  16.910000  6.460000   3.286667
2017-07-31  23.964516  6.787097   2.896774
2017-08-31  22.035484  5.041935   3.761290
2017-09-30  19.083333  6.246667   3.320000
2017-10-31  12.716129  3.874194   3.306452
2017-11-30   6.550000  2.450000   4.100000
2017-12-31   0.196774  1.554839   4.312903
2018-01-31  -0.912903  2.148387   4.719355
2018-02-28  -1.932143  3.046429   4.264286
2018-03-31   4.593548  4.867742   4.651613
2018-04-30   9.643333  5.703333   4.373333
2018-05-31  14.248387  6.480645   3.854839
2018-06-30  17.843333  5.736667   3.436667
2018-07-31  22.593548  4.838710   2.858065
2018-08-31  22.793548  5.083871   3.358065
2018-09-30  20.020000  5.573333   3.126667
2018-10-31  14.238710  4.983871   3.267742
2018-11-30   8.260000  3.740000   3.373333
2018-12-31   1.245161  1.729032   4.141935

In [46]:
bestpred = result.predict("2018-12" , "2024-12", exog=df_month_pred[["日照時間(時間)" , "平均風速(m/s)"]])

ValueError: Provided exogenous values are not of the appropriate shape. Required (72, 2), got (12, 2).