In [5]:
import streamlit as st
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=["lat", "lon"]
)
df

          lat         lon
0   35.702851  139.704163
1   35.701284  139.704502
2   35.691066  139.713026
3   35.693156  139.710894
4   35.694235  139.719169
..        ...         ...
95  35.695176  139.709282
96  35.703945  139.718559
97  35.703733  139.714850
98  35.692759  139.701153
99  35.703598  139.707284

[100 rows x 2 columns]