In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    "日付":["2023-04-01","2023-04-01","2023-04-02","2023-04-02","2023-04-03","2023-04-03"],
    "都道府県":["東京都","神奈川県","東京都","神奈川県","東京都","神奈川県"],
    "売上":[100,200,300,400,500,600]
})

In [10]:
df

           日付  都道府県   売上
0  2023-04-01   東京都  100
1  2023-04-01  神奈川県  200
2  2023-04-02   東京都  300
3  2023-04-02  神奈川県  400
4  2023-04-03   東京都  500
5  2023-04-03  神奈川県  600

In [11]:
#dfの、値は売上で、行は日付で、列は都道府県で、値の計算はsum
df2 = pd.pivot_table(df, values="売上" , index="日付", columns="都道府県", aggfunc=sum)

In [12]:
df2

都道府県        東京都  神奈川県
日付
2023-04-01  100   200
2023-04-02  300   400
2023-04-03  500   600