In [1]:
list = ["a", "b", "c", "d", "e"]
print(list)

['a', 'b', 'c', 'd', 'e']

In [2]:
A, B, C, D, E = list

In [3]:
print(A)
print(B)
print(C)
print(D)
print(E)

a
b
c
d
e

In [4]:
list = ["a", "b", "c", "d", "e"]

for item in list:
    print(item)

a
b
c
d
e

In [5]:
list = ["a", "b", "c", "d", "e"]
length = len(list)

a, b, c, d, e = range(length)

print(a)  # aの値を表示
print(b)  # bの値を表示
print(c)  # cの値を表示
print(d)  # dの値を表示
print(e)  # eの値を表示

0
1
2
3
4

In [12]:
import pandas as pd
df = pd.read_excel("/Users/kato/Desktop/shigoto/test.xlsx", header=2)
df

   Unnamed: 0  商品ID  商品名  数量
0         NaN  2434  りんご   3
1         NaN  2435  みかん   5
2         NaN  2436  ぶどう   6
3         NaN  2437  おもち   2
4         NaN  2438   お米   6

In [13]:
df_code = df["商品ID"]
df_code

0    2434
1    2435
2    2436
3    2437
4    2438
Name: 商品ID, dtype: int64