In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/kato/Desktop/mypython/awesomebook-master/data/reserve.csv" , encoding="utf-8")

In [4]:
df.head(3)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600

In [5]:
pd.pivot_table(df, index="0 , columns="total_price")

SyntaxError: unterminated string literal (detected at line 1) (3041343299.py, line 1)