In [48]:
import pandas as pd

In [49]:
from geopy.distance import geodesic

In [50]:
df = pd.read_csv("/Users/kato/Desktop/mypython/02201_2021.csv" , encoding="shift-jis")
df.head(3)

,都道府県コード,都道府県名,市区町村コード,市区町村名,大字町丁目コード,大字町丁目名,緯度,経度,原典資料コード,大字・字・丁目区分コード
0,2,青森県,2201,青森市,22010001001,青葉一丁目,40.805836,140.743053,0,3
1,2,青森県,2201,青森市,22010001002,青葉二丁目,40.805128,140.747826,0,3
2,2,青森県,2201,青森市,22010001003,青葉三丁目,40.802571,140.750706,0,3

In [51]:
df2 = df.drop(df.columns[[0,1,2,3,4,8,9]] , axis=1)
df2.head(3)

  大字町丁目名         緯度          経度
0  青葉一丁目  40.805836  140.743053
1  青葉二丁目  40.805128  140.747826
2  青葉三丁目  40.802571  140.750706

In [52]:
location = (40.829336055838, 140.73403843386)
df2["distance"] = df2.apply(lambda x:geodesic((x["緯度"], x["経度"]), location), axis=1)

In [53]:
df2["distance"].head(3)

0     2.718250884665882 km
1     2.929181862544067 km
2    3.2881367462300997 km
Name: distance, dtype: object

In [54]:
df2.head(3)

  大字町丁目名         緯度          経度               distance
0  青葉一丁目  40.805836  140.743053   2.718250884665882 km
1  青葉二丁目  40.805128  140.747826   2.929181862544067 km
2  青葉三丁目  40.802571  140.750706  3.2881367462300997 km

In [47]:
df2.to_excel("/Users/kato/Desktop/mypython/testmarket.xlsx")