In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
train_df = pd.read_csv("/Users/kato/Desktop/titanic/titanic/train.csv")
test_df = pd.read_csv("/Users/kato/Desktop/titanic/titanic/test.csv")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
y = train_df["Survived"]
ID = test_df["PassengerId"]

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [6]:
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].mean())
train_df["Embarked"] = train_df["Embarked"].fillna(train_df["Embarked"].mode()[0])

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
train_df = train_df.drop(columns=["PassengerId","Name","Ticket","Cabin"])

In [9]:
train_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [10]:
train_features = ["Sex" , "Embarked"]

for col in train_features:
    lbl = LabelEncoder()
    train_df[col] = lbl.fit_transform(list(train_df[col].values))

In [11]:
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [12]:
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].mean())
test_df["Embarked"] = test_df["Embarked"].fillna(test_df["Embarked"].mode()[0])

test_df = test_df.drop(columns=["PassengerId","Name","Ticket","Cabin"])

test_features = ["Sex" , "Embarked"]

for col in test_features:
    lbl = LabelEncoder()
    test_df[col] = lbl.fit_transform(list(test_df[col].values))

test_df

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    1  34.50000      0      0    7.8292         1
1         3    0  47.00000      1      0    7.0000         2
2         2    1  62.00000      0      0    9.6875         1
3         3    1  27.00000      0      0    8.6625         2
4         3    0  22.00000      1      1   12.2875         2
..      ...  ...       ...    ...    ...       ...       ...
413       3    1  30.27259      0      0    8.0500         2
414       1    0  39.00000      0      0  108.9000         0
415       3    1  38.50000      0      0    7.2500         2
416       3    1  30.27259      0      0    8.0500         2
417       3    1  30.27259      1      1   22.3583         0

[418 rows x 7 columns]

In [13]:
train = train_df
test = test_df

In [14]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [15]:
test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [16]:
X = train_df.drop(columns="Survived")
y = train_df["Survived"]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [18]:
params = {
    "objective":"binary:logistic",
    "eval_metric":"auc",
    "eta":0.1,
    "max_depth":6,
    "subsample":1,
    "colsample_bytree":1,
    "silent":1
}

In [19]:
dtrain = xgb.DMatrix(X_train , label = y_train)
dtest = xgb.DMatrix(X_test , label = y_test)

In [20]:
model = xgb.train(
    params=params,
    dtrain=dtrain,
    num_boost_round=100,
    early_stopping_rounds=10,
    evals=[(dtest,"test")]
)

[23:38:59] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/learner.cc:767:
Parameters: { "silent" } are not used.

[0]	test-auc:0.88690
[1]	test-auc:0.89624
[2]	test-auc:0.89324
[3]	test-auc:0.88960
[4]	test-auc:0.89286
[5]	test-auc:0.88601
[6]	test-auc:0.89067
[7]	test-auc:0.89474
[8]	test-auc:0.88960
[9]	test-auc:0.88883
[10]	test-auc:0.88943

In [21]:
prediction = model.predict(xgb.DMatrix(test), ntree_limit=model.best_ntree_limit)

/Users/kato/.pyenv/versions/3.11.1/lib/python3.11/site-packages/xgboost/core.py:122: UserWarning: ntree_limit is deprecated, use `iteration_range` or model slicing instead.
  warnings.warn(

In [22]:
prediction

array([0.42588335, 0.4750208 , 0.42588335, 0.42588335, 0.5168644 ,
       0.42588335, 0.45609358, 0.46160665, 0.56230706, 0.42588335,
       0.42588335, 0.44456193, 0.5809824 , 0.42588335, 0.5809824 ,
       0.5809824 , 0.42588335, 0.43935266, 0.5168644 , 0.45609358,
       0.44066563, 0.56824934, 0.5809824 , 0.47461712, 0.5809824 ,
       0.42588335, 0.5809824 , 0.43935266, 0.44603732, 0.52094805,
       0.42588335, 0.46160665, 0.5       , 0.44124418, 0.4927498 ,
       0.43935266, 0.45609358, 0.5168644 , 0.42588335, 0.4737735 ,
       0.43935266, 0.5063673 , 0.42588335, 0.5809824 , 0.5809824 ,
       0.42588335, 0.44603732, 0.42588335, 0.5809824 , 0.48098934,
       0.47461712, 0.43935266, 0.5809824 , 0.5809824 , 0.52094805,
       0.43798986, 0.42588335, 0.42588335, 0.42588335, 0.5809824 ,
       0.42588335, 0.42588335, 0.42588335, 0.56230706, 0.56824934,
       0.5809824 , 0.56230706, 0.44603732, 0.44603732, 0.5809824 ,
       0.56230706, 0.42588335, 0.5168644 , 0.44603732, 0.5809824 ,
       0.45490682, 0.42588335, 0.5809824 , 0.42588335, 0.56230706,
       0.56824934, 0.44066563, 0.4808205 , 0.42588335, 0.42588335,
       0.43935266, 0.56230706, 0.5168644 , 0.45609358, 0.56824934,
       0.5168644 , 0.42588335, 0.5809824 , 0.42588335, 0.51640904,
       0.42588335, 0.5809824 , 0.42588335, 0.5168644 , 0.42588335,
       0.5809824 , 0.42588335, 0.42588335, 0.42588335, 0.52877843,
       0.42588335, 0.42588335, 0.42588335, 0.42588335, 0.42588335,
       0.43935266, 0.45609358, 0.5809824 , 0.56230706, 0.5809824 ,
       0.43935266, 0.43935266, 0.5168644 , 0.45490682, 0.5809824 ,
       0.5809824 , 0.42588335, 0.5809824 , 0.42588335, 0.42588335,
       0.5168644 , 0.42588335, 0.5       , 0.42588335, 0.42588335,
       0.42588335, 0.43185383, 0.44124418, 0.43935266, 0.42588335,
       0.42588335, 0.43935266, 0.42588335, 0.5168644 , 0.42734438,
       0.44124418, 0.5809824 , 0.44066563, 0.42588335, 0.5063673 ,
       0.42588335, 0.44603732, 0.42588335, 0.5063673 , 0.42588335,
       0.5809824 , 0.43935266, 0.42588335, 0.48098934, 0.43798986,
       0.42588335, 0.5809824 , 0.5168644 , 0.5063673 , 0.5168644 ,
       0.45609358, 0.56824934, 0.5809824 , 0.42588335, 0.42588335,
       0.46762788, 0.4823117 , 0.46160665, 0.5809824 , 0.5168644 ,
       0.42588335, 0.43935266, 0.42588335, 0.43935266, 0.42734438,
       0.5809824 , 0.5809824 , 0.47836354, 0.5809824 , 0.5809824 ,
       0.42588335, 0.45490682, 0.5809824 , 0.42588335, 0.5809824 ,
       0.42588335, 0.5809824 , 0.42588335, 0.44124418, 0.42588335,
       0.42588335, 0.44456193, 0.56824934, 0.42588335, 0.56824934,
       0.42588335, 0.56824934, 0.5168644 , 0.42588335, 0.45609358,
       0.48098934, 0.56824934, 0.45490682, 0.5809824 , 0.42588335,
       0.49660358, 0.45609358, 0.42588335, 0.5809824 , 0.42588335,
       0.42588335, 0.42588335, 0.43613485, 0.5809824 , 0.4750208 ,
       0.44603732, 0.45609358, 0.44066563, 0.5809824 , 0.42588335,
       0.5809824 , 0.42588335, 0.5809824 , 0.42588335, 0.5809824 ,
       0.48098934, 0.42588335, 0.45609358, 0.42588335, 0.42588335,
       0.43613485, 0.5809824 , 0.42588335, 0.42588335, 0.45490682,
       0.42588335, 0.44066563, 0.43935266, 0.5809824 , 0.5809824 ,
       0.5809824 , 0.5809824 , 0.45490682, 0.42588335, 0.42588335,
       0.44603732, 0.5809824 , 0.42734438, 0.5809824 , 0.5       ,
       0.5510006 , 0.42588335, 0.47461712, 0.42588335, 0.42588335,
       0.42588335, 0.42588335, 0.42588335, 0.5809824 , 0.42588335,
       0.42588335, 0.42588335, 0.5809824 , 0.5168644 , 0.43935266,
       0.42588335, 0.44456193, 0.42588335, 0.45609358, 0.42588335,
       0.45490682, 0.42588335, 0.5809824 , 0.5       , 0.43935266,
       0.5809824 , 0.42588335, 0.42588335, 0.42588335, 0.42588335,
       0.5168644 , 0.56824934, 0.45609358, 0.52877843, 0.46762788,
       0.42588335, 0.42588335, 0.47461712, 0.43935266, 0.42588335,
       0.44603732, 0.45609358, 0.43935266, 0.44066563, 0.42588335,
       0.42588335, 0.5510006 , 0.52094805, 0.44603732, 0.42588335,
       0.42588335, 0.43935266, 0.42588335, 0.42588335, 0.45609358,
       0.5809824 , 0.45490682, 0.56824934, 0.44066563, 0.5       ,
       0.42588335, 0.43935266, 0.42588335, 0.45609358, 0.5809824 ,
       0.56230706, 0.44066563, 0.42588335, 0.42588335, 0.46160665,
       0.42588335, 0.43935266, 0.42588335, 0.5063673 , 0.5809824 ,
       0.42588335, 0.5809824 , 0.45490682, 0.42588335, 0.42588335,
       0.5809824 , 0.44603732, 0.43935266, 0.52877843, 0.42588335,
       0.44456193, 0.42588335, 0.43935266, 0.46160665, 0.43935266,
       0.42588335, 0.42588335, 0.43613485, 0.5809824 , 0.42588335,
       0.5168644 , 0.42588335, 0.45609358, 0.42588335, 0.5809824 ,
       0.5809824 , 0.42588335, 0.43613485, 0.43613485, 0.46762788,
       0.46420574, 0.5809824 , 0.42588335, 0.42588335, 0.5       ,
       0.43613485, 0.5809824 , 0.5809824 , 0.42588335, 0.5809824 ,
       0.44124418, 0.43935266, 0.44124418, 0.5809824 , 0.43935266,
       0.42588335, 0.5809824 , 0.4808205 , 0.42588335, 0.5809824 ,
       0.5809824 , 0.5168644 , 0.42588335, 0.43185383, 0.43798986,
       0.42588335, 0.42588335, 0.48098934, 0.5168644 , 0.42588335,
       0.5809824 , 0.42588335, 0.42588335, 0.42588335, 0.43798986,
       0.47461712, 0.5809824 , 0.56824934, 0.42588335, 0.42588335,
       0.5809824 , 0.42588335, 0.5809824 , 0.42588335, 0.42588335,
       0.5809824 , 0.42588335, 0.5809824 , 0.5003421 , 0.44603732,
       0.43935266, 0.42588335, 0.47461712, 0.45609358, 0.5168644 ,
       0.45609358, 0.5809824 , 0.5168644 , 0.42588335, 0.5809824 ,
       0.42588335, 0.42588335, 0.52094805], dtype=float32)

In [23]:
prediction = np.where(prediction < 0.5,0,1)
prediction

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1])

In [24]:
submission = pd.DataFrame({
    "PassengerId":ID,
    "Survived":prediction
})

submission.to_csv("/Users/kato/Desktop/0503_submission.csv", index=False)